<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Ffollo - Automatically follow who you need to!</title>
<link rel="stylesheet" type="text/css" media="all" href="/css/960.css" />
<link rel="stylesheet" type="text/css" media="all" href="/css/style.css" />
<!--[if lt IE 7]>
        <script type="text/javascript" src="unitpngfix.js"></script>
<![endif]-->
<script type="text/javascript" src="/js/jquery-1.3.2.min.js"></script>
<style>
 .item
 {
   margin: 5px;
   border-bottom: none;
 }

.services
{
	
}

.services img
{
	float:left;
}

.services h5
{
	margin-left: 40px;
	
}

.services p
{
	padding-left: 40px;
}

tbody tr:hover 	{}

</style>
</head>
<body>
<!-- Start Header-->
<div class="container_16">
    <div class="header">
        <div class="grid_6"><a href="/"><img src="/images/ffollo.png" class="logo" /></a></div>
        <div class="grid_10">
           
        </div>
    </div>
</div>
<!-- Header End -->
<div class="clear">&nbsp;</div>
<!--start menu-->
<div class="container_16 topmenubg">
    <div class="topmenu">
       &nbsp;
    </div>
</div>
<!--menu end-->
<div class="clear">&nbsp;</div>
<!--start slider-->
<div id="home-slider" >
    <div class="container_16" id="boos">
        <div class="grid_16">
			<div class="bang">
				<strong>Find and Follow people with similar interests to you</strong> - automatically, for FREE!
			</div>
			<div class="grid_6 alpha" >
				<div style="padding-left: 15px;">
	           <h2 style="margin-top: 15px;">Login</h2>
			   <p>It is easy to set up your account, simply click the "Sign in with FriendFeed" button. <em>(you will need your FriendFeed details.)</em> </p>
			   <p>If you do not have one, you can quickly create one using the "Sign in with FriendFeed" button.
			   </p>
	              <form method="post" action="/oauth_callback">
					<input type="image" src="/images/signin.png" value="Login" />
				</form>
				</div>
			</div>
			<div class="grid_10 omega">
				<div style="padding-right: 15px;">
				<h2 style="margin-top: 15px;">Contact us</h2>
				We are very active on our <a href="http://friendfeed.com/ffollo">Support Group</a>
			</div>
       </div>
 			<div class="clear">&nbsp;</div>
    </div>

    <div class="bg_bottom">
    	

    </div>
</div>
<div class="clear">&nbsp;</div>
<!-- start footer part here -->
<div class="container_16" id="footer">
    <div class="grid_11" style="background-color: #484848 ;">
        <div class="footer">&copy; Copyright 2009. All Rights Reserved.<br />
            Powered by <a href="http://www.topicala.com/">Topicala Ltd</a>, on the super <a href="http://www.friendfeed.com/">FriendFeed Platform</a> </div>
    </div>
 	<div class="grid_5" style="background-color: #484848 ;">
        <div class="footer">
            <a href="/terms">Terms</a> | <a href="/contact">Contact</a> | <a href="/">Home</a></div>
    </div>
   
</div>
<!-- footer part end -->
</body>
</html>
