<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Terms and Conditions - Ffollo - Automatically follow who you need to!</title>
<link rel="stylesheet" type="text/css" media="all" href="/css/960.css" />
<link rel="stylesheet" type="text/css" media="all" href="/css/style.css" />
<!--[if lt IE 7]>
        <script type="text/javascript" src="unitpngfix.js"></script>
<![endif]-->
<script type="text/javascript" src="/js/jquery-1.3.2.min.js"></script>
<style>
 .item
 {
   margin: 5px;
   border-bottom: none;
 }

.services
{
	
}

.services img
{
	float:left;
}

.services h5
{
	margin-left: 40px;
	
}

.services p
{
	padding-left: 40px;
}

tbody tr:hover 	{}

</style>
</head>
<body>
<!-- Start Header-->
<div class="container_16">
    <div class="header">
         <div class="grid_6"><a href="/"><img src="/images/ffollo.png" class="logo" /></a></div>
        <div class="grid_10">
           
        </div>
    </div>
</div>
<!-- Header End -->
<div class="clear">&nbsp;</div>
<!--start menu-->
<div class="container_16 topmenubg">
    <div class="topmenu">
       &nbsp;
    </div>
</div>
<!--menu end-->
<div class="clear">&nbsp;</div>
<!--start slider-->
<div id="home-slider" >
    <div class="container_16" id="boos">
        <div class="grid_16">
			<div class="bang">
				<strong>Find and Follow people with similar interests to you</strong> - automatically, for FREE!
			</div>
			<div class="grid_6 alpha" >
				<div style="padding-left: 15px;">
	           <h2 style="margin-top: 15px;">Login</h2>
			   <p>It is easy to set up your account, simply click the "Sign in with FriendFeed" button. <em>(you will need your FriendFeed details.)</em> </p>
			   <p>If you do not have one, you can quickly create one using the "Sign in with FriendFeed" button.
			   </p>
	              <form method="post" action="/oauth_callback">
					<input type="image" src="/images/signin.png" value="Login" />
				</form>
				</div>
			</div>
			<div class="grid_10 omega">
				<div style="padding-right: 15px;">
					<h2 style="margin-top: 15px;">What is FFollo?</h2>
					<p>By using the Ffollo.com web site, a service of <a href="http://www.topicala.com/about.shtml">Topicala Ltd.</a>, you are agreeing to be bound by the following terms and conditions ("Terms of Use"). </p> 
								<h3>Basic Information</h3> 
								<ol> 
									<li>You understand that Ffollo is not affiliated or endorsed by Ffollo.com</li>  
									<li>You understand that Ffollo is seperate from, but relies upon Ffollo.com for its successful operation. If Ffollo is down, Ffollo follows.</li> 
									<li>You understand that the use of this site and its services is at your own risk</li> 
									<li>You understand that this site may be down for maintance from time to time and notice of said downtime may or may not be given in advance</li> 
									<li>You understand that by using Ffollo, Ffollo takes no responsibility if your Ffollo account may be suspended or terminated through use of Ffollo.com direct or indirect.</li> 
									<li>You understand that Ffollo is not responsible for any Content held on or displayed on Ffollo.com</li> 
								</ol> 

					            <h3>Basic Terms</h3> 
								<ol> 
								   <li>You are responsible for any activity that occurs under your screen name.</li> 
								   <li>You are responsible for keeping your password secure.</li> 
								   <li>You must not abuse, harass, threaten, impersonate or intimidate other Ffollo users using Ffollo.</li> 
								   <li>You may not use the Ffollo.com service for any illegal or unauthorized purpose. International users agree to comply with all local laws regarding online conduct and acceptable content.</li> 

								   <li>You are solely responsible for your conduct and any data, on the Ffollo.com service.</li> 
								   <li>You must not modify, adapt or hack Ffollo.com or modify another website so as to falsely imply that it is associated with Ffollo.com .</li> 
								   <li>You must not create or submit unwanted email to any Ffollo members ("Spam") using Ffollo.</li> 
								   <li>You must not use Ffollo to transmit any worms or viruses or any code of a destructive nature.</li> 
								   <li>You must not, in the use of Ffollo, violate any laws in your jurisdiction (including but not limited to copyright laws).</li> 
								</ol> 


								<p>Violation of any of these agreements will result in the termination of your Ffollo.com account.</p> 

								<h3>General Conditions</h3> 
								<ol> 
								    <li>We reserve the right to modify or terminate the Ffollo.com service for any reason, without notice at any time.</li> 
								    <li>We reserve the right to alter these Terms of Use at any time. If the alterations constitute a material change to the Terms of Use, we will notify you via the Ffollo.com website. What constitutes a "material change" will be determined at our sole discretion, in good faith and using common sense and reasonable judgement.</li> 
								    <li>We reserve the right to refuse service to anyone for any reason at any time.</li> 

								    <li>We may, but have no obligation to, remove Interests and accounts containing Content that we determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory, obscene or otherwise objectionable or violate these Terms of Use.</li> 
								</ol>
				
				
				</div>
				
			</div>
       </div>
 			<div class="clear">&nbsp;</div>
		
    </div>

    <div class="bg_bottom">
    	

    </div>
</div>
<div class="clear">&nbsp;</div>
<!-- start footer part here -->
<div class="container_16" id="footer">
    <div class="grid_11" style="background-color: #484848 ;">
        <div class="footer">&copy; Copyright 2009. All Rights Reserved.<br />
            Powered by <a href="http://www.topicala.com/">Topicala Ltd</a>, on the super <a href="http://www.friendfeed.com/">FriendFeed Platform</a> </div>
    </div>
 	<div class="grid_5" style="background-color: #484848 ;">
        <div class="footer">
            <a href="/terms">Terms</a> | <a href="/contact">Contact</a> | <a href="/">Home</a></div>
    </div>
   
</div>
<!-- footer part end -->
</body>
</html>
